<!DOCTYPE html>
<html lang="">
<head>
<title>PRIOR KNOWLEDGE GUIDED SOURCE SELECTION</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li ><a href="/">Home</a></li>
      <li><a class="drop" href="#">Introduction</a>
        <ul>
          <li><a href="/dataset">DATASET</a></li>
          <li><a href="/neural_network">NEURAL NETWORK</a></li>
          <li><a href="/transfer_strategy">TRANSFER STRATEGY</a></li>
          <li><a href="/loss_function">LOSS FUNCTION</a></li>
          <li><a href="/evaluation_metric">EVALUATION METRIC</a></li>
	<li><a href="/model_framework">MODEL FRAMEWORK</a></li>
        </ul>
      </li>
      <li class="active"><a href="/demonstration">Demonstration</a></li>
      <li><a href="/upload">Upload New Data</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>