<!DOCTYPE html>
<html lang="">
<head>
<title>PRIOR KNOWLEDGE GUIDED SOURCE SELECTION</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="drop" href="#">Introduction</a>
        <ul>
          <li><a href="#">DATASET</a></li>
          <li><a href="#">NEURAL NETWORK</a></li>
          <li><a href="#">TRANSFER STRATEGY</a></li>
          <li><a href="#">LOSS FUNCTION</a></li>
          <li><a href="#">EVALUATION METRIC</a></li>
	<li><a href="#">MODEL FRAMEWORK</a></li>
        </ul>
      </li>
      <li><a href="/demonstration">Demonstration</a></li>
      <li><a href="#">Upload New Data</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('static/images/demo/backgrounds/1.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">PRIOR KNOWLEDGE GUIDED SOURCE SELECTION</h3>
      <p>A Transfer Learning Framework For Medical Image Segmentation</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/demonstration"> Demonstration</a></li>
	<li><a class="btn inverse" href="https://ieeexplore.ieee.org/document/9995261/"> Read the Paper</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>